mixin new-product-selection()
	ul.product-selection
		li.product-selection__item
			a(href='#')
				img(src="../images/fpo/landing-page-a-thumb-1.jpg" alt="Antifreez")
				span Antifreez
		li.product-selection__item
			a(href='#')
				img(src="../images/fpo/landing-page-a-thumb-2.jpg" alt="Appearance")
				span Appearance
		li.product-selection__item
			a(href='#')
				img(src="../images/fpo/landing-page-a-thumb-3.jpg" alt="Chemicals")
				span Chemicals
		li.product-selection__item
			a(href='#')
				img(src="../images/fpo/landing-page-a-thumb-4.jpg" alt="Filters")
				span Filters
		li.product-selection__item
			a(href='#')
				img(src="../images/fpo/landing-page-a-thumb-5.jpg" alt="Lubricants")
				span Lubricants
		li.product-selection__item
			a(href='#')
				img(src="../images/fpo/landing-page-a-thumb-6.jpg" alt="Service Parts")
				span Service Parts
