extends layout

block content
  a(name='top')
  +menu()

  .container
    +square('square-orange')
    +square('square-dark-blue')
    +square('square-blue')

    section.section.section--hero
      .section__inner.section__inner--row
        .section__content.section__content--left
          +sectionTitle(heroSection.title, heroSection.modifier_css)
          +sectionText(heroSection.text)
          form.newsletter
            .newsletter__inner
              +form({
                input: [
                  {
                    __class: 'newsletter__input',
                    __type: 'email',
                    __name: 'email',
                    __placeholder: 'your@email.com',
                    label: {
                      __class: 'newsletter__label',
                      __for: 'email',
                      text: 'Email' 
                    }
                  }
                ],
                button: {
                  __class: 'button newsletter__button',
                  __type: 'button',
                  __name: 'button',
                  text: 'Start tracking' 
                }
              })
          .apps
            h3.apps__title Compatible with
            .apps__logos
              +appsLogos([
                  {
                    image: 'images/brand-netflix.png',
                    altText: 'Netflix'
                  },
                  {
                    image: 'images/brand-apple.png',
                    altText: 'Apple'
                  },
                  {
                    image: 'images/brand-android.png',
                    altText: 'Android'
                  },
                  {
                    image: 'images/brand-windows.png',
                    altText: 'Windows'
                  },
                  {
                    image: 'images/brand-synology.png',
                    altText: 'Synology'
                  }
                ])
        +heroImage(heroSection.alt_text, `images/${heroSection.image}`, heroSection.image_css)

    section.section.section--features
      .section__inner.section__inner--features
        .section__content
          h2.section__topic Features
          +sectionTitle(featuresSection.title, featuresSection.title_css)
          +sectionText(featuresSection.text, featuresSection.text_css)
        
        +cards(cards)

    +carousel({
        carouselConfig,
        carouselImages
      })

    section.section.section--apps
      .section__inner.section__inner--row
        .section__content.section__content--left
          +sectionTitle(appsSection.title)
          +text(appsSection.text)
          +interfaceTabs({interfaceTabs, interfaceTabsImages})

    section.section.section--twitter
      .section__inner.section__inner--row
        .section__content.section__content--left
          +sectionTitle(twitterSection.title)
          +text({__class: twitterSection.text_css, text: twitterSection.text})
          +primaryButton(twitterSection.link_text, twitterSection.link_css)

        .section__content
          +twitterCards(tweets)

    section.section
      .section__inner.section__inner--get-started
        .section__content
          +sectionTitle('Start tracking your TV shows for free', 'section__title--get-started')
          +text({__class: 'section__text', cssExtra: 'text-center', text: 'In order to start tracking your TV shows, all you have to do is enter your email address. Everything else will be taken care of by us. All you have to do is sit back, relax and enjoy your TV shows.'})
          form.newsletter
            .newsletter__inner.newsletter__inner--center
              +form({
                input: [
                  {
                    __class: 'newsletter__input',
                    __type: 'email',
                    __name: 'email',
                    __placeholder: 'your@email.com',
                    label: {
                      __class: 'newsletter__label',
                      __for: 'email',
                      text: 'Email' 
                    }
                  }
                ],
                button: {
                  __class: 'button newsletter__button',
                  __type: 'button',
                  __name: 'button',
                  text: 'Start tracking' 
                }
              })

    footer(css='footer')
      div(class='footer__inner')
        +socialNetworks(socialNetworks)

        +text(copyright)
      
    +back-to-top()
