extends layout

block content
  a(name='top')
  +menu()

  .container
    +square('square-orange')
    +square('square-dark-blue')
    +square('square-blue')

    section.section.section--hero
      .section__inner.section__inner--row
        .section__content.section__content--left
          +sectionTitle(heroSection.title, heroSection.modifier_css)
          +sectionText(heroSection.text)
          form.newsletter
            .newsletter__inner
              +form({
                input: [
                  {
                    __class: 'newsletter__input',
                    __type: 'email',
                    __name: 'email',
                    __placeholder: 'your@email.com',
                    label: {
                      __class: 'newsletter__label',
                      __for: 'email',
                      text: 'Email' 
                    }
                  }
                ],
                button: {
                  __class: 'button newsletter__button',
                  __type: 'button',
                  __name: 'button',
                  text: 'Start tracking' 
                }
              })
          .apps
            h3.apps__title Compatible with
            .apps__logos
              +appsLogos([
                  {
                    image: 'images/brand-netflix.png',
                    altText: 'Netflix'
                  },
                  {
                    image: 'images/brand-apple.png',
                    altText: 'Apple'
                  },
                  {
                    image: 'images/brand-android.png',
                    altText: 'Android'
                  },
                  {
                    image: 'images/brand-windows.png',
                    altText: 'Windows'
                  },
                  {
                    image: 'images/brand-synology.png',
                    altText: 'Synology'
                  }
                ])
        +heroImage(heroSection.alt_text, `images/${heroSection.image}`, heroSection.image_css)

    section.section.section--features
      .section__inner.section__inner--features
        .section__content
          h2.section__topic Features
          +sectionTitle(featuresSection.title, featuresSection.title_css)
          +sectionText(featuresSection.text, featuresSection.text_css)
        
        +cards(cards)

    +carousel({
        carouselConfig,
        carouselImages
      })

    section.section.section--apps
      .section__inner.section__inner--row
        .section__content.section__content--left
          +sectionTitle(appsSection.title)
          +text(appsSection.text)
          +interfaceTabs({
            interfaceTabs,
            interfaceTabsImages
          })

    section.section.section--twitter
      .section__inner.section__inner--row
        .section__content.section__content--left
          +sectionTitle('We believe in the power of community')
          +text({__class: 'section__text', text: 'Our goal is to create a product and service that you’re satisfied with and use it every day. This is why we’re constantly working on our services to make it better every day and really listen to what our users has to say.'})
          +primaryButton('Read more testimonials', 'section__button')

        .section__content
          +twitterCards([
            {
              userPhoto: 'person-patrick-martin.png',
              userName: 'Patrick Martin',
              tweetText: 'ShowTrackr is a real gem! I started using it a couple months ago and it completely changed the way how I watch TV shows. I can only recommend it!',
              tweetDate: 'Jan 18, 2018'
            },
            {
              userPhoto: 'person-bruce-murphy.png',
              userName: 'Bruce Murphy',
              tweetText: 'ShowTrackr is a real gem! I started using it a couple months ago and it completely changed the way how I watch TV shows.',
              tweetDate: 'Jan 18, 2018'
            },
            {
              userPhoto: 'person-crystal-perkins.png',
              userName: 'Crystal Perkins',
              tweetText: 'ShowTrackr. I can only recommend it!',
              tweetDate: 'Jan 18, 2018'
            },
            {
              userPhoto: 'person-gregory-wallace.png',
              userName: 'Gregory Wallace',
              tweetText: 'ShowTrackr is a real gem! I started using it a couple months ago and it completely changed the way how I watch TV shows. I can only recommend it!',
              tweetDate: 'Jan 18, 2018'
            },
            {
              userPhoto: 'person-megan-walters.png',
              userName: 'Megan Walters',
              tweetText: 'ShowTrackr is a real gem! I started using it a couple months ago and it completely changed the way how I watch TV shows.',
              tweetDate: 'Jan 18, 2018'
            },
            {
              userPhoto: 'person-thomas-cruz.png',
              userName: 'Thomas Cruz',
              tweetText: 'ShowTrackr. I can only recommend it!',
              tweetDate: 'Jan 18, 2018'
            },
            {
              userPhoto: 'person-andrew-cook.png',
              userName: 'Andrew Cook',
              tweetText: 'ShowTrackr is a real gem! I started using it a couple months ago and it completely changed the way how I watch TV shows. I can only recommend it!',
              tweetDate: 'Jan 18, 2018'
            },
            {
              userPhoto: 'person-joseph-mathews.png',
              userName: 'Joseph Mathews',
              tweetText: 'ShowTrackr is a real gem! I started using it a couple months ago and it completely changed the way how I watch TV shows.',
              tweetDate: 'Jan 18, 2018'
            },
            {
              userPhoto: 'person-patrick-martin.png',
              userName: 'Patrick Martin',
              tweetText: 'ShowTrackr is a real gem! I started using it a couple months ago and it completely changed the way how I watch TV shows.',
              tweetDate: 'Jan 18, 2018'
            }
          ])

    section.section
      .section__inner.section__inner--get-started
        .section__content
          +sectionTitle('Start tracking your TV shows for free', 'section__title--get-started')
          +text({__class: 'section__text', cssExtra: 'text-center', text: 'In order to start tracking your TV shows, all you have to do is enter your email address. Everything else will be taken care of by us. All you have to do is sit back, relax and enjoy your TV shows.'})
          form.newsletter
            .newsletter__inner.newsletter__inner--center
              +form({
                input: [
                  {
                    __class: 'newsletter__input',
                    __type: 'email',
                    __name: 'email',
                    __placeholder: 'your@email.com',
                    label: {
                      __class: 'newsletter__label',
                      __for: 'email',
                      text: 'Email' 
                    }
                  }
                ],
                button: {
                  __class: 'button newsletter__button',
                  __type: 'button',
                  __name: 'button',
                  text: 'Start tracking' 
                }
              })

    footer(css='footer')
      div(class='footer__inner')
        +socialNetworks([
          {
            name: 'Twitter',
            css: 'social-networks__link',
            link: '#',
            image: 'images/social-twitter.svg'
          },
          {
            name: 'Facebook',
            css: 'social-networks__link',
            link: '#',
            image: 'images/social-facebook.svg'
          },
          {
            name: 'YouTube',
            css: 'social-networks__link',
            link: '#',
            image: 'images/social-youtube.svg'
          }
        ])

        +text({__class: 'footer__copyrights', text: 'Copyright 2020 All rights reserved — Designed by Daniel Korpai | Code by Victor Neves'})
      
    +back-to-top()
