//MODULE INCLUDES HERE
include ../src/_modules/buttons/buttons.pug
include ../src/_modules/cards/cards.pug
include ../src/_modules/carousel/carousel.pug
include ../src/_modules/form/form.pug
include ../src/_modules/images/images.pug
include ../src/_modules/link/link.pug
include ../src/_modules/menu/menu.pug
include ../src/_modules/search/search.pug
include ../src/_modules/social-networks/social-networks.pug
include ../src/_modules/square/square.pug
include ../src/_modules/tabs/tabs.pug
include ../src/_modules/text/text.pug
include ../src/_modules/title/title.pug

doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='module' src='/js/main.js')
  body
    <!--[if lt IE 11]>
    <p class='browsehappy'>
      You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->

    .app
      block content
