mixin menu()
  nav.menu(id='mainnav' role='navigation' aria-labelledby='mainnavheading')
    .menu__inner
      h1.menu__logo
        Show
          a(href='/')
            span.menu__logo--blue Trackr
      ul.menu__topics
        li.menu__item
          +menuLink('Features', 'menu__link', '#')
        li.menu__item
          +menuLink('Community', 'menu__link', '/users')
        li.menu__item
          +menuLink('Get started', 'menu__link', '#')
      ul.menu__login
        li.menu__item
          +menuLink('Log in', 'menu__link', '#')
        li.menu__item
          +menuButton('Get started', 'menu__button', '#')
