mixin menu()
  nav.menu
    .menu__inner
      h1.menu__logo
        Show
        span.menu__logo--blue Trackr
      ul.menu__topics
        li.menu__item
          +menuLink('Features', 'menu__link', '#')
        li.menu__item
          +menuLink('Community', 'menu__link', '#')
        li.menu__item
          +menuLink('Get started', 'menu__link', '#')
      ul.menu__login
        li.menu__item
          +menuLink('Log in', 'menu__link', '#')
        li.menu__item
          +menuButton('Get started', 'menu__button', '#')
  