mixin search()
  section.search
    +title('Search Your Team', 'search__title')
    input(type='search' name='search' class='js-search-input search__input' placeholder='Search')
    button(type='button' class='js-search search__button')
      i.icon-search