$bottom: 20px;
$padding: 10px 14px;
$right: 40px;

.back-to-top {
  background-color: #540bfa;
  bottom: $bottom;
  padding: $padding;
  position: fixed;
  right: $right;

  &:after {
    color: $white;
    content: '\2963';
  }
}
