/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,900&display=swap");
body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 991px) {
    body {
      font-size: 14px; } }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.container {
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  position: relative; }
  @media (max-width: 991px) {
    .container {
      overflow: hidden; } }

a {
  text-decoration: none; }

@media (min-width: 992px) {
  .text-center {
    text-align: center; } }

.apps {
  margin-bottom: 45px;
  margin-top: 45px; }
  @media (min-width: 992px) {
    .apps {
      margin-bottom: 20px;
      margin-top: 140px;
      width: 80%; } }
  .apps__title {
    color: #ccc;
    font-weight: 400;
    font-size: .75rem;
    text-transform: uppercase; }
  .apps__logos {
    display: flex;
    justify-content: space-between; }
  .apps__item {
    filter: opacity(0.2); }

.back-to-top {
  background-color: #540bfa;
  bottom: 20px;
  padding: 10px 14px;
  position: fixed;
  right: 40px; }
  .back-to-top:after {
    color: #fff;
    content: '\2963'; }

@media (max-width: 991px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start; } }

@media (min-width: 992px) {
  .cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 60px; } }

.cards__container {
  display: inline-block; }
  @media (max-width: 991px) {
    .cards__container {
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .cards__container {
      text-align: center;
      max-width: 33.3366%; } }
  @media (min-width: 992px) {
    .cards__container:not(:last-child) {
      margin-right: 45px; } }

.cards__icon-img {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%; }

.cards__icon-blue {
  background-image: linear-gradient(135deg, #32fbfc, #3214f2);
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  height: 50px;
  opacity: .9;
  transform: rotate(0);
  width: 50px; }

.cards__icon-darkblue {
  background-image: linear-gradient(135deg, #9c09db, #1c0fd7);
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  height: 50px;
  opacity: .9;
  transform: rotate(0);
  width: 50px; }

.cards__icon-orange {
  background-image: linear-gradient(135deg, #f2c314, #fc3832);
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  height: 50px;
  opacity: .9;
  transform: rotate(0);
  width: 50px; }

.cards__icon-blue, .cards__icon-darkblue, .cards__icon-orange {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); }
  @media (min-width: 992px) {
    .cards__icon-blue, .cards__icon-darkblue, .cards__icon-orange {
      margin: 0 auto; } }

.cards__title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: .85rem; }

.cards__text {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 0;
  margin-top: .85rem; }
  @media (min-width: 992px) {
    .cards__text {
      padding: 0 20px; } }

.cards__link {
  font-size: .9rem;
  font-weight: 700;
  position: relative;
  top: -10px; }
  .cards__link:after {
    content: ' \02023';
    font-size: 3rem;
    position: relative;
    top: 10px; }
    @media (min-width: 992px) {
      .cards__link:after {
        font-size: 2.5rem; } }

.carousel {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 40vh;
  position: relative;
  width: 100%; }
  @media (min-width: 992px) {
    .carousel {
      height: 50vh;
      margin-bottom: 60px; } }
  .carousel__inner {
    font-size: 0;
    min-height: 40vh;
    white-space: nowrap; }
    @media (min-width: 992px) {
      .carousel__inner {
        height: 100%; } }
  .carousel__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100%;
    animation: testimonials-x 20s linear infinite; }
    .carousel__list::-webkit-scrollbar {
      width: 0;
      height: 0; }
    .carousel__list::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 10px; }
    .carousel__list::-webkit-scrollbar-track {
      background: transparent; }
  .carousel__item {
    margin-right: 30px;
    font-size: 20px;
    height: 320px;
    width: 200px;
    flex: 0 0 220px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; }
    @media (min-width: 992px) {
      .carousel__item {
        height: 352px;
        width: 220px; } }
  .carousel__img {
    height: 320px;
    object-fit: cover;
    width: 200px; }
    @media (min-width: 992px) {
      .carousel__img {
        height: 352px;
        width: 220px; } }

@keyframes testimonials-x {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 5)); } }

.footer__inner {
  margin: 0 auto;
  max-width: 1100px; }

.footer__copyrights {
  color: #ccc;
  font-size: .685rem;
  margin-bottom: 30px;
  text-align: center; }
  @media (min-width: 992px) {
    .footer__copyrights {
      font-size: .875rem;
      margin-bottom: 60px; } }

/* Colors */
/* Fonts */
.menu {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  width: 100%;
  z-index: 99999; }
  @media (max-width: 991px) {
    .menu {
      margin-bottom: 40px; } }
  .menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: 1100px; }
  .menu__logo {
    font-size: 1rem;
    font-weight: 700;
    width: 33.3366%; }
    .menu__logo--blue {
      color: #550cfb; }
  .menu__topics {
    display: none; }
    @media (min-width: 992px) {
      .menu__topics {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
        font-size: .875rem;
        width: 33.3366%; } }
  .menu__login {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: .875rem;
    font-weight: 700;
    justify-content: flex-end;
    width: 33.3366%; }
    @media (max-width: 991px) {
      .menu__login {
        flex-grow: 2; } }
  .menu__item {
    display: inline-block; }
  .menu__link {
    color: #000; }
  .menu__button {
    background-color: #550cfb;
    border: 0;
    color: #fff;
    box-shadow: 0 2px 4px rgba(50, 10, 170, 0.3);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    padding: 5px 10px; }
    .menu__button:hover, .menu__button:focus {
      background-color: #a885fd;
      color: #fff;
      text-decoration: none; }

@media (max-width: 991px) {
  .newsletter {
    margin: 45px 0; } }

.newsletter--center .newsletter__label {
  left: 5rem; }

.newsletter--center .newsletter__input {
  width: 70%; }

.newsletter--center .newsletter__button {
  right: 10%; }

.newsletter__inner {
  position: relative; }
  @media (min-width: 992px) {
    .newsletter__inner {
      width: 80%; } }
  .newsletter__inner--center {
    margin: 0 auto; }

.newsletter__input {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f1f1;
  height: 50px;
  padding: 20px 110px 10px 10px;
  width: 100%; }
  .newsletter__input::placeholder {
    color: #ccc;
    font-weight: 200; }

.newsletter__label {
  color: #550cfb;
  cursor: text;
  left: .75rem;
  font-size: .75rem;
  font-weight: 700;
  position: absolute;
  top: 8px; }

.newsletter__button {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #550cfb;
  border: 0;
  color: #fff;
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  font-size: .9rem;
  font-weight: 700;
  height: 50px;
  padding: 0 20px;
  position: absolute;
  right: 0; }
  .newsletter__button:hover, .newsletter__button:focus {
    background-color: #a885fd;
    color: #fff;
    text-decoration: none; }

.section {
  position: relative; }
  @media (min-width: 992px) {
    .section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 50px;
      max-width: 1440px;
      overflow: hidden; } }
  .section--hero {
    padding-top: 80px;
    min-height: 800px; }
    @media (min-width: 992px) {
      .section--hero {
        padding-top: 50px; } }
  @media (max-width: 991px) {
    .section--features {
      margin-top: 90px; } }
  @media (min-width: 992px) {
    .section--features {
      text-align: center; } }
  @media (max-width: 991px) {
    .section--apps {
      height: 1040px;
      margin-top: 60px; } }
  @media (min-width: 992px) {
    .section--apps {
      height: 660px; } }
  @media (min-width: 992px) {
    .section--apps .section__content {
      width: 45%; } }
  .section--twitter {
    background-color: #000;
    max-height: 780px;
    max-width: 100%; }
    @media (max-width: 991px) {
      .section--twitter {
        margin-top: 30px;
        margin-bottom: 60px;
        padding-top: 60px; } }
    .section--twitter .section__title,
    .section--twitter .section__text,
    .section--twitter .section__topic {
      color: #fff; }
  .section__inner {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px; }
    @media (min-width: 992px) {
      .section__inner {
        max-width: 1100px; } }
    @media (max-width: 991px) {
      .section__inner--row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media (min-width: 992px) {
      .section__inner--row {
        display: flex;
        justify-content: space-between;
        align-items: center; } }
    @media (min-width: 992px) {
      .section__inner--features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .section__inner--get-started {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .section__inner--twitter {
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%);
      width: 1100px; }
  .section__topic {
    font-size: 1rem;
    font-weight: 200; }
    @media (max-width: 991px) {
      .section__topic--get-started {
        text-align: left;
        width: 100%; } }
    @media (min-width: 992px) {
      .section__topic--left {
        text-align: left; } }
  .section__content {
    display: inline-block;
    vertical-align: top; }
    @media (min-width: 992px) {
      .section__content {
        width: 60%; } }
    @media (min-width: 992px) {
      .section__content--left {
        width: 50%; } }
  .section__title {
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 2.2rem;
    margin-top: 0; }
    @media (min-width: 992px) {
      .section__title {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 20px; } }
    @media (min-width: 992px) {
      .section__title--center {
        font-size: 4rem;
        line-height: 4rem;
        text-align: center; } }
    @media (min-width: 992px) {
      .section__title--features {
        font-size: 3.8rem;
        line-height: 3.8rem; } }
    @media (min-width: 992px) {
      .section__title--get-started {
        font-size: 3.8rem;
        line-height: 3.8rem;
        text-align: center; } }
    @media (min-width: 992px) {
      .section__title--hero {
        font-size: 4.4rem;
        line-height: 4.4rem; } }
  .section__text {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 30px;
    margin-top: 0; }
    @media (min-width: 992px) {
      .section__text {
        font-size: 1.4rem;
        line-height: 1.8rem;
        word-spacing: .15rem; } }
  @media (max-width: 991px) {
    .section__img {
      width: 100%; } }
  @media (min-width: 992px) {
    .section__img {
      height: 680px;
      padding-right: 5%; } }
  .section__button {
    background-color: #550cfb;
    border: 0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 100%;
    font-weight: 700; }
    .section__button:hover, .section__button:focus {
      background-color: #a885fd;
      color: #fff;
      text-decoration: none; }

.slide {
  position: absolute; }
  @media (max-width: 991px) {
    .slide {
      width: 100%; } }
  @media (min-width: 992px) {
    .slide {
      left: 160%;
      top: -600%; } }
  .slide__item {
    cursor: pointer;
    transform: translateX(300%);
    transition: transform 2s;
    width: 100%; }
    @media (max-width: 991px) {
      .slide__item {
        position: absolute;
        top: 0; } }
  @media (max-width: 991px) {
    .slide__img {
      display: block;
      margin: 45px auto 0;
      max-width: 100%; } }
  @media (min-width: 992px) {
    .slide__img {
      bottom: -100px;
      max-height: 520px;
      position: relative;
      left: 0; } }
  @media (max-width: 991px) {
    .slide__img--right {
      display: none; } }
  @media (min-width: 992px) {
    .slide__img--right {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      max-height: 500px;
      position: absolute;
      left: 60px;
      top: -45px;
      z-index: -1; } }

.social-networks {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 991px) {
    .social-networks {
      margin-top: 30px; } }
  @media (min-width: 992px) {
    .social-networks {
      margin-top: 100px; } }
  .social-networks__item {
    padding: 10px; }
  .social-networks__link {
    filter: opacity(0.2); }

.square-orange {
  position: absolute;
  z-index: -1; }
  @media (max-width: 991px) {
    .square-orange {
      background-image: linear-gradient(135deg, #f2c314, #fc3832);
      border-radius: 40px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      height: 300px;
      opacity: .9;
      transform: rotate(65deg);
      width: 300px;
      right: -150px;
      top: 600px; } }
  @media (min-width: 992px) {
    .square-orange {
      background-image: linear-gradient(135deg, #f2c314, #fc3832);
      border-radius: 40px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      height: 550px;
      opacity: .9;
      transform: rotate(65deg);
      width: 550px;
      right: -260px;
      top: -100px; } }

.square-dark-blue {
  position: absolute;
  z-index: -1; }
  @media (max-width: 991px) {
    .square-dark-blue {
      background-image: linear-gradient(135deg, #9c09db, #1c0fd7);
      border-radius: 40px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      height: 300px;
      opacity: .9;
      transform: rotate(45deg);
      width: 300px;
      right: -175px;
      top: 600px; } }
  @media (min-width: 992px) {
    .square-dark-blue {
      background-image: linear-gradient(135deg, #9c09db, #1c0fd7);
      border-radius: 40px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      height: 550px;
      opacity: .9;
      transform: rotate(45deg);
      width: 550px;
      right: -260px;
      top: -100px; } }

.square-blue {
  position: absolute;
  z-index: -1; }
  @media (max-width: 991px) {
    .square-blue {
      background-image: linear-gradient(135deg, #32fbfc, #3214f2);
      border-radius: 20px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      height: 150px;
      opacity: .9;
      transform: rotate(45deg);
      width: 150px;
      left: -100px;
      top: 1040px; } }
  @media (min-width: 992px) {
    .square-blue {
      background-image: linear-gradient(135deg, #32fbfc, #3214f2);
      border-radius: 40px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      height: 300px;
      opacity: .9;
      transform: rotate(45deg);
      width: 300px;
      left: -230px;
      top: 660px; } }

@media (min-width: 992px) {
  .tabs {
    position: relative; } }

.tabs__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.tabs__item {
  position: relative; }
  @media (min-width: 992px) {
    .tabs__item {
      width: 70%; } }

@media (max-width: 991px) {
  .tabs__item:nth-child(1) .slide {
    top: calc(60px * 3); }
  .tabs__item:nth-child(2) .slide {
    top: calc(60px * 2); }
  .tabs__item:nth-child(3) .slide {
    top: calc(60px * 1); } }

@media (min-width: 992px) {
  .tabs__item:nth-child(1) .slide {
    top: calc(-520px + 60px * 3); }
  .tabs__item:nth-child(2) .slide {
    top: calc(-520px + 60px * 2); }
  .tabs__item:nth-child(3) .slide {
    top: calc(-520px + 60px * 1); } }

.tabs__link {
  color: #ccc;
  display: block;
  font-weight: 700;
  height: 60px;
  padding: 20px; }
  .tabs__link:hover {
    cursor: pointer; }

.tabs__input {
  display: none; }
  .tabs__input[type=radio]:checked + label {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000; }
    .tabs__input[type=radio]:checked + label ~ .slide .slide__item {
      transform: translateX(0);
      transition: transform 2s; }

.twitter {
  overflow: hidden; }
  .twitter__feed {
    font-size: .9rem; }
    .twitter__feed::-webkit-scrollbar {
      display: none; }
    .twitter__feed::-webkit-scrollbar-track {
      background: transparent; }
    @media (max-width: 991px) {
      .twitter__feed {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        width: 100vw;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch; } }
    @media (min-width: 992px) {
      .twitter__feed {
        column-count: 2;
        column-gap: 20px; } }
  .twitter__card {
    background-color: #141414;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px 20px;
    width: 260px; }
    @media (max-width: 991px) {
      .twitter__card {
        margin-right: 20px;
        scroll-snap-align: start;
        width: 260px; } }
  .twitter__user {
    align-items: center;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    @media (max-width: 991px) {
      .twitter__user {
        width: 220px; } }
  .twitter__img {
    border-radius: 50%;
    height: 40px;
    width: 40px; }
  .twitter__name {
    color: #fff;
    flex-grow: 2;
    padding-left: 10px; }
  .twitter__icon {
    filter: contrast(0.5); }
  .twitter__text {
    color: #fff;
    font-size: .9rem;
    line-height: 1.2rem;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .twitter__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 220px; } }
  .twitter__date {
    color: #ccc; }
    @media (max-width: 991px) {
      .twitter__date {
        width: 220px; } }

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto 0;
  max-width: 1200px;
  opacity: 1;
  transition: 2s opacity; }
  .users__content {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    margin: 0 20px 40px;
    width: 250px; }
  .users__item {
    align-items: center;
    display: flex;
    font-size: .9rem;
    margin-bottom: 10px; }
    .users__item--id {
      font-size: .8rem;
      margin: 15px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .users__item--user {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .users__img {
    width: 100%; }
  .users__link {
    color: #550cfb;
    text-decoration: none;
    text-indent: 0; }
    .users__link:hover {
      text-decoration: underline; }
  .users__button {
    align-items: center;
    background: transparent;
    border: 2px solid #ccc;
    bottom: 10px;
    color: #550cfb;
    cursor: pointer;
    display: flex;
    font-size: .8rem;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    text-decoration: none; }
    .users__button .icon-phone {
      padding-right: 10px; }
    .users__button:hover {
      background: #ccc;
      color: #fff; }

/*# sourceMappingURL=style.css.map */