/* Colors */
$blue: #540bfa;
$blue-lighter: #a885fd;
$black: #000;
$black-lighter: #141414;
$gray: #ccc;
$white: #fff;
$gray-border: #f1f1f1;

/* Fonts */
$default-font-family: "Source Sans Pro", sans-serif;
$default-font-size: 18px;
$default-font-size-mobile: 14px;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 700;
$font-weight-bold: 900;

$max-width: 1440px;
$max-width-mobile: 600px;
$max-width-inner: 1100px;
$default-menu-height: 50px;
