mixin sectionText(text, cssExtra)
  p.section__text(class=cssExtra)
    | #{text}

mixin text(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.cssExtra = spec.cssExtra || ''

  p(class=spec.__class + ' ' + spec.cssExtra)
    if block
      block
    else
      != spec.text